*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: caveat-bold;
    src: url(fonts/Caveat-Bold.ttf);
}
@font-face {
    font-family: caveat-semibold;
    src: url(fonts/Caveat-SemiBold.ttf);
}
@font-face {
    font-family: monsieur;
    src: url(fonts/MonsieurLaDoulaise-Regular.ttf);
}
@font-face {
    font-family: geraldine;
    src: url(fonts/GERALDINE\ PERSONAL\ USE.ttf);
}
.header{
    
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background\ 1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav_links{
    flex: 1;
    text-align: right;

}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav_links ul li a{
    color: black;
    text-decoration: double;
    font-size: large;
    font-family: caveat-semibold;
    
}
.nav_links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;

}
.nav_links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
.text_box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text_box h1{
    font-size: 70px;
}
.r_let{
    font-size: 70px;
    padding-left: 5px;
    padding-right: 10px;
    font-family:geraldine;
    font-weight: lighter;
    font-stretch: wider;
}

.text_box p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_box p {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    border-right: 1px solid;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: typing 2s steps(20, end) forwards, 
               cursor .4s step-end infinite alternate;
}

@keyframes typing {
    from { width: 0; }
    to { width: max-content; }
}

@keyframes cursor {
    50% { border-color: transparent; }
}


.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.hero-btn:hover{
    border: 1px solid rgb(255, 235, 106);
    background: black;
    color: white;
    transition: 1s;
}

/* home page other generes */
.generes{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.generes h1{
    font-size: 40px;
    font-weight: 600;

}
.rows{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.colm{
    flex-basis: 31%;
    background: wheat;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;

}
.colm h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    
}
.colm  a {
    font-size: 20px;  /* Change the font size */
    color: black;       /* Change the text color */
    /* text-decoration: none; Remove underline */
}
.colm a:hover{
    color: #ff0000;
}

.colm:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    
}
.music_img{
    flex-basis: 32%;
    margin-bottom: 30px;
    position: relative ;
    overflow: hidden;
    padding-left: 150px;
    width: 380px;
    height: 250px;
  
    
}
.tech_img{
    flex-basis: 32%;
    margin-bottom: 30px;
    position: relative ;
    overflow: hidden;
    padding-left: 37px;
    padding-top: 10px;
    width: 380px;
    height: 250px;
    

}
.cam_img{
    flex-basis: 32%;
    margin-bottom: 30px;
    position: relative ;
    overflow: hidden;
    padding-left: 37px;
    padding-top: 10px;
    width: 380px;
    height: 250px;
    

}
.about_header{
    min-height: 100vh;
    width: 100%;
    background-image: url();
    background-position: center;
    background-size: cover;
    position: relative;
}
.contactus_header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background\ 1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.ctus_let{
    font-size: 70px;
    padding-left: 5px;
    padding-right: 10px;
    font-family:geraldine;
    font-weight: lighter;
    font-stretch: wider;
}
.insta_logo{
    height: 50px;
    width: 55px;
    padding-right: 10px;
    padding-bottom: 13px;
}
.discord_logo{
    height: 80px;
    width: auto;
}

.body_blogs{
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content horizontally */
    margin: 0;
    background-color: #f5f5dc; /* Optional background */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: justify;
}


.curved-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: wheat;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.blog_title{
    
    padding-bottom: 5px;
    padding-left: 45%;
}

.box-image{
    padding-left: 15px;
    
}
.box-image_vertical_xl{
    padding-left: 15px;
    height: 300px;
    
}
.blog_person{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}