*{
    margin: 0;
    padding: 0;
    
.caveat-<uniquifier> {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
    

}
.header{
    
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background\ 1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav_links{
    flex: 1;
    text-align: right;

}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav_links ul li a{
    color: black;
    text-decoration: double;
    font-size: large;
    font-family: cursive;
    
}
.nav_links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;

}
.nav_links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
.text_box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text_box h1{
    font-size: 70px;
}
.text_box h2{
    font-size: 70px;
    font-family:mons;
}
.text_box p{
    margin: 10px 0px 40px;
    font-size: 25px;
    font-family: cursive;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.hero-btn:hover{
    border: 1px solid rgb(255, 235, 106);
    background: black;
    color: white;
    transition: 1s;
}